/* .timer {
  display: inline;
  padding-left: 40px;
} */
@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Concert+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Concert One", sans-serif;
}
.hide {
  display: none;
}
body {
  background-color: rgb(233, 233, 202);
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
nav {
  background-color: lightblue;
  display: flex;
  padding: 1rem;
}

.timer {
  margin-left: auto;
  padding-right: 0;
}

.quiz-box {
  text-align: center;
  margin: 2rem 4rem 0rem 4rem;
  border: 2px solid black;
  background-color: white;
  height: 15rem;
  padding-bottom: 16rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem 0.1rem;
}

.box-format {
  margin: 1rem;
}

.start-style {
  padding-top: 1rem;
}

.start {
  margin-top: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 18px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
  margin: 2rem 1.5rem 1rem 1.5rem;
}

.btn {
  padding: 0.5rem 0.5rem;
}

.correct {
  background-color: green;
}

.wrong {
  background-color: red;
}

#next-btn {
  margin-bottom: 1px;
}
